<html>
<head>
  <title>Dynamic Exploration</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    $(document).ready(function() {
      var ctxMag = document.getElementById('bodePlotMagnitude').getContext('2d');
      var bodePlotMagnitude = new Chart(ctxMag, {
        type: 'line',
        data: {
          labels: <%= @bode_plot ? @bode_plot['frequencies'].map { |frequency| frequency.round(2) } : []  %>,
          datasets: [{
            label: 'magnitude',
            data: <%= @bode_plot ? @bode_plot['magnitude'] : [] %>,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });

      var ctxPhs = document.getElementById('bodePlotPhase').getContext('2d');
      var bodePlotPhase = new Chart(ctxPhs, {
        type: 'line',
        data: {
          labels: <%= @bode_plot ? @bode_plot['frequencies'].map { |frequency| frequency.round(2) } : []  %>,
          datasets: [{
            label: 'phase',
            data: <%= @bode_plot ? @bode_plot['phase'] : [] %>,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });
  </script>
<style>
<% @spring_edges.each{ |spring_edge| %>
  #spring_constant_range_<%=  spring_edge.id  %>::-webkit-slider-thumb {
    background: <%= spring_edge.link.get_color_string %>;
}
  <% } %>
</style>

  <script type="text/javascript">
  function set_constant(id, value) {
    document.getElementById('spring_constant_' + id).placeholder = value;
    document.getElementById('spring_constant_range_' + id).value = value;
  }
</script>

</head>
<body>

<!-- <div class="card m-2 p-2">
  <h5 class="card-title">Modify spring parameters</h5>
  <div class="card-body">
    <% @spring_edges.each { |spring_edge| %>
      <h6>
        <a href="https://www.federnshop.com/en/products/compression_springs/<%= spring_edge.link.spring_parameters[:part_number] %>.html">
          <%= spring_edge.link.spring_parameters[:part_number] %>
        </a>
      </h6>
      <div class="col-8">
        <input type="checkbox" id="spring_enable_preloading_<%=  spring_edge.id  %>" <%= spring_edge.link.spring_parameters[:enable_preloading] ? "checked" : '' %> onclick="window.sketchup.spring_set_preloading(<%= spring_edge.id %>, this.checked)">
        <label class="form-check-label" for="spring_enable_preloading_<%=  spring_edge.id  %>">enable preloading</label>
      </div>
      <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text text-monospace">k</span>
              </div>
              <input id="spring_constant_<%= spring_edge.id %>" type="text" placeholder="<%= spring_edge.link.spring_parameters[:k].to_i %>" readonly class="form-control">
              <div class="input-group-append">
                <span class="input-group-text text-monospace">N/m</span>
              </div>
            </div>
          </div>
      <div class="col-6">
        <input type="range" class="custom-range pt-3" id="spring_constant_range_<%=  spring_edge.id  %>" min="500" max="30000" step="50" value="<%= spring_edge.link.spring_parameters[:k]  %>" onchange="window.sketchup.spring_constants_change(<%= spring_edge.id %>, this.value); set_constant(<%= spring_edge.id %>, this.value)">
      </div>
      </div>
    <%  } %>

  </div>
</div>
-->
<div class="card m-2 p-2">
  <h5 class="card-title">Users</h5>
  <div class="card-body m-0 p-0">
    <%
      user_index = 0
      mounted_users.each { |node_id, user_weight|
        next if user_weight < 1
        user_index += 1
        stats = @user_stats[node_id]
        digits_precision = 2
    %>

      <script>$(document).ready(function() {

      const $valueSpan = $('.weightValue<%= node_id %>');
      const $value = $('#mass_<%= node_id %>');
      $valueSpan.html($value.val() + "kg");
      $value.on('input change', () => {

      $valueSpan.html($value.val() + "kg");
      });
      });
      </script>
      <div class="card m-1 p-1">
      <h6 class="card-title">User #<%= user_index %></h6>
      <div class="card-body">
      <!--<div class="row">
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">p</span>
            </div>
            <input id="period_<%= node_id %>" type="text" placeholder="<%= stats && stats['period'] ? stats['period'].round(digits_precision) : 'NaN' %>" readonly class="form-control" style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">s</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">m</span>
            </div>
            <div class="input-group-append">
              <span class="input-group-text text-monospace">kg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">a<sub>max</sub></span>
            </div>
            <input id="max_a_<%= node_id %>" type="text" placeholder="<%= stats ? stats['max_acceleration']['value'].round(digits_precision) : ' ' %>" readonly class="form-control" style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">m/s<sup>2</sup></span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">v<sub>max</sub></span>
            </div>
            <input id="max_v_<%= node_id %>" type="text" placeholder="<%= stats ? stats['max_velocity']['value'].round(digits_precision) : ' ' %>" readonly class="form-control" style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">m/s</span>
            </div>
          </div>
        </div>
      </div> -->

      <div class="mb-5 col-md-6">
        weight <span class="font-weight-bold weightValue<%= node_id %>" style="float:right"></span>
        <input id="mass_<%= node_id %>" type="range" value="<%= user_weight %>" class="custom-range pt-3" min="10" max="100" step="5" onchange="window.sketchup.user_weight_change(<%= node_id %>, this.value);"  style="text-align: right;">
      </div>
        <div class="mb-3 col-md-6">
        comfortable <span style="float:right">exciting</span>
        <input type="range" class="custom-range pt-3" id="comfort_excitement" min="0" max="100" step="5" value="50" onchange="window.sketchup.user_excitement_change(<%= node_id %>, this.value);">
      </div>
      </div>
      </div>
    <%  } %>
  </div>
</div>
<div class="card m-2 p-2">
  <div class="card-body">
    <div class="row">
      <% if @pending_compilation %>
        <div class="alert alert-warning alert-dismissible fade show w-100">
            <strong><i class="fa fa-warning"></i></strong> Model out of sync. Recompile!
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      <!-- <button class="btn btn-warning mb-3 col-md-6" onClick="window.sketchup.spring_insights_compile()">
        compile
      </button>

      <button class="btn btn-primary mb-3 col-md-6" onClick="window.sketchup.spring_insights_simulate()">
        simulate
      </button>

      <button class="btn btn-warning mb-3 col-md-6" onClick="window.sketchup.spring_insights_preload()">
        preload
      </button>

      <button class="btn btn-warning mb-3 col-md-6" onClick="window.sketchup.spring_insights_reset_hubs()">
        reset
      </button> -->

      <button class="btn <% if @animation_running %>btn-danger<% else %>btn-primary<% end %> animation mb-0 col-md-6"
              onClick="window.sketchup.spring_insights_toggle_play()">
        <% if @animation_running %>stop<% else %>play<% end %> animation
      </button>
      <!-- <button class="btn btn-primary mb-3 col-md-6" onClick="window.sketchup.spring_insights_optimize()">
        optimize
      </button> -->
      <!-- <button class="btn btn-primary mb-3 col-md-6" onClick="window.sketchup.spring_insights_optimize()">
        optimize for fun
      </button>-->
    </div>
  </div>
</div>
<!-- <canvas id="bodePlotMagnitude" width="400" height="400"></canvas>
<canvas id="bodePlotPhase" width="400" height="400"></canvas> -->

</body>
</html>
