<html>
<head>
  <title>Spring Modifications</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
<% @spring_edges.each{ |spring_edge| %>
  #spring_constant_range_<%=  spring_edge.id  %>::-webkit-slider-thumb {
    background: red;
}
  <% } %>
</style>

  <script type="text/javascript">
  function set_constant(id, value) {
    document.getElementById('spring_constant_' + id).placeholder = value;
    document.getElementById('spring_constant_range_' + id).value = value;
  }
</script>

</head>
<body>

<div class="card m-2 p-2">
  <h5 class="card-title">Modify spring parameters</h5>
  <div class="card-body">
    <% @spring_edges.each { |spring_edge| %>
      <h6>
        <a href="https://www.federnshop.com/en/products/compression_springs/<%= spring_edge.link.spring_parameters[:part_number] %>.html">
          <%= spring_edge.link.spring_parameters[:part_number] %>
        </a>
      </h6>
      <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text text-monospace">k</span>
              </div>
              <input id="spring_constant_<%= spring_edge.id %>" type="text" placeholder="<%= spring_edge.link.spring_parameters[:k].to_i %>" readonly class="form-control">
              <div class="input-group-append">
                <span class="input-group-text text-monospace">N/m</span>
              </div>
            </div>
          </div>
      <div class="col-6">
        <input type="range" class="custom-range pt-3" id="spring_constant_range_<%=  spring_edge.id  %>" min="500" max="30000" step="50" value="<%= spring_edge.link.spring_parameters[:k]  %>" onchange="window.sketchup.spring_constants_change(<%= spring_edge.id %>, this.value); set_constant(<%= spring_edge.id %>, this.value)">
      </div>
    </div>
    <%  } %>

  </div>
</div>
<div class="card m-2 p-2">
  <h5 class="card-title">User parameters</h5>
  <div class="card-body">
    <%
      mounted_users.each { |node_id, user_weight|
        stats = @user_stats[node_id]
        digits_precision = 2
    %>

      <h6>#<%= node_id %></h6>
      <div class="row">
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">p</span>
            </div>
            <input id="period_<%= node_id %>" type="text" placeholder="<%= stats['period'].round(digits_precision) %>" readonly class="form-control" style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">s</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">m</span>
            </div>
            <input id="mass_<%= node_id %>" type="text" value="<%= user_weight %>" class="form-control" onchange="window.sketchup.user_weight_change(<%= node_id %>, this.value);"  style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">kg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">a<sub>max</sub></span>
            </div>
            <input id="max_a_<%= node_id %>" type="text" placeholder="<%= stats['max_acceleration']['value'].round(digits_precision) %>" readonly class="form-control" style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">m/s<sup>2</sup></span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text text-monospace">v<sub>max</sub></span>
            </div>
            <input id="max_v_<%= node_id %>" type="text" placeholder="<%= stats['max_velocity']['value'].round(digits_precision) %>" readonly class="form-control" style="text-align: right;">
            <div class="input-group-append">
              <span class="input-group-text text-monospace">m/s</span>
            </div>
          </div>
        </div>
      </div>
    <%  } %>
  </div>
</div>

<div class="card m-2 p-2">
  <div class="card-body">
    <div class="row">
        <button class="btn btn-warning mb-3 col-md-6" onClick="window.sketchup.spring_insights_compile()">
          compile
        </button>

        <button class="btn <% if @animation_running %>btn-danger<% else %>btn-primary<% end %> animation mb-3 col-md-6"
                onClick="window.sketchup.spring_insights_toggle_play()">
          <% if @animation_running %>stop<% else %>play<% end %> animation
        </button>
    </div>
  </div>
</div>



</body>
</html>
