<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="<%=@root_dir%>/force-chart/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="<%=@root_dir%>/force-chart/index.js"></script>
    <title>Sensor Overview</title>
</head>
<body>
<% for sensor in @sensors %>
    <% if sensor.is_a?(Hub) %>
        Hub <%= sensor.id %>:<br>
        <script type="text/javascript">
          createHubChart('body', "<%= sensor.id %>");
        </script>
        <br><br>
    <% elsif sensor.is_a?(Link) %>
        Edge <%= sensor.id %>:<br>
        <script type="text/javascript">
          createEdgeChart('body',"<%= sensor.id %>");
        </script>
    <% end %>
<% end %>
</body>
</html>
