<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SensorOverview</title>
</head>
<body>
<% for sensor in @sensors %>
    <% if sensor.is_a?(Hub) %>
        Hub <%= sensor.id %>:<br>
        Speed: <label id="speed_<%=sensor.id%>"><%= 0.0 %></label> m/s<br>
        Acceleration: <label id="acceleration_<%=sensor.id%>"><%= 0.0 %></label>m/s/s
        <br><br>
    <% elsif sensor.is_a?(Link) %>
        Edge <%= sensor.id %>:<br>
        <script type="text/javascript">
          createChart('body',"<%= sensor.id %>");
        </script>
    <% end %>
<% end %>

  <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../js/build/force_chart.js"></script>
</body>
</html>
