<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="../css/ui.css" type="text/css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hub Menu</title>
</head>
<body onload="init()">
Hub position:<br>
X <input type="text" id="position-x" onchange="set_position()">m<br>
Y <input type="text" id="position-y" onchange="set_position()">m<br>
Z <input type="text" id="position-z" onchange="set_position()">m
<br>
Force: <br>
X <input type="text" id="force-x" onchange="set_force()">N<br>
Y <input type="text" id="force-y" onchange="set_force()">N<br>
Z <input type="text" id="force-z" onchange="set_force()">N
<br>
Weight: <br>
<input type="text" id="weight" onchange="set_weight()">kg
<br>

<script type="text/javascript">
  function init() {
    var x = document.getElementById("position-x");
    x.value = <%= @node.position.x.to_m %>;
    var y = document.getElementById("position-y");
    y.value = <%= @node.position.y.to_m %>;
    var z = document.getElementById("position-z");
    z.value = <%= @node.position.z.to_m %>;

    var force_x = document.getElementById("force-x");
    force_x.value = <%= @node.hub.force.x %>;
    var force_y = document.getElementById("force-y");
    force_y.value = <%= @node.hub.force.y %>;
    var force_z = document.getElementById("force-z");
    force_z.value = <%= @node.hub.force.z %>;

    var weight = document.getElementById("weight");
    weight.value = <%= @node.hub.mass %>;
  }

  function set_position() {
    var x = document.getElementById("position-x");
    var y = document.getElementById("position-y");
    var z = document.getElementById("position-z");
    sketchup.set_position([x.value,y.value,z.value]);
  }
  function set_force() {
    var x = document.getElementById("force-x");
    var y = document.getElementById("force-y");
    var z = document.getElementById("force-z");
    sketchup.set_force([x.value,y.value,z.value]);
  }
  function set_weight() {
    var weight = document.getElementById("weight");
    sketchup.set_weight(weight.value);
  }
</script>
</body>
</html>
